player-connection-mode=Listen
player-connection-guid=1962748618
player-connection-debug=0
player-connection-project-name=OverseasProject
player-connection-ip=25.104.152.18
player-connection-ip=192.168.5.54
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
